---
import {getCollection} from "astro:content";

import {SITE_METADATA, ITEMS_PER_PAGE} from '@/consts';
import RootLayout from "@/layouts/RootLayout.astro";
import Link from "@/components/Link.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Tag from "@/components/Tag.astro";
import Hero from "@/components/Hero.astro";
import {excludeDrafts, sortBlogPosts} from "@/functions";
import WhatIsNetGrad from "@/components/WhatIsNetGrad.astro";
import FAQ from "@/components/FAQ.astro";
import Features from "@/components/Features.astro";

---
<RootLayout title={SITE_METADATA.title} description={SITE_METADATA.description}>
    <div class="flex flex-col gap-32">
        <Hero/>
        <WhatIsNetGrad/>
        <Features/>
        <FAQ>
    </div>
</RootLayout>
