---
import SocialIcon from '@/components/social-icons/index.astro'
import {SITE_METADATA} from '@/consts.ts'

import Link from "./Link.astro";
---

<footer>
    <div class="mt-16 flex flex-col items-center">
    </div>
</footer>
