<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto" id="payment-gw">
  <div class="relative p-6 md:p-16">
    <!-- Grid -->
    <div class="relative z-10 lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center">
      <div class="mb-10 lg:mb-0 lg:col-span-6 lg:col-start-8 lg:order-2">
        <h2 class="text-2xl text-gray-800 font-bold sm:text-3xl dark:text-gray-200">
            Payment Gateway Untuk Mempermudah Operasional Jaringan
        </h2>

        <!-- Tab Navs -->
        <nav class="grid gap-4 mt-5 md:mt-10" aria-label="Tabs" role="tablist">
          <button type="button" class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left hover:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-slate-900 dark:hover:bg-gray-700 active" id="tabs-with-card-item-1" data-hs-tab="#tabs-with-card-1" aria-controls="tabs-with-card-1" role="tab">
            <span class="flex">
                <svg width='48' height='48' viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_3660_20263)">
                        <path d="M2 1C1.73478 1 1.48043 1.10536 1.29289 1.29289C1.10536 1.48043 1 1.73478 1 2V10C1 10.2652 1.10536 10.5196 1.29289 10.7071C1.48043 10.8946 1.73478 11 2 11H11.586C12.1164 11.0001 12.625 11.2109 13 11.586L15 13.586V2C15 1.73478 14.8946 1.48043 14.7071 1.29289C14.5196 1.10536 14.2652 1 14 1H2ZM14 0C14.5304 0 15.0391 0.210714 15.4142 0.585786C15.7893 0.960859 16 1.46957 16 2V14.793C16 14.8919 15.9706 14.9886 15.9156 15.0709C15.8606 15.1531 15.7824 15.2172 15.691 15.255C15.5996 15.2928 15.499 15.3026 15.402 15.2832C15.3049 15.2638 15.2159 15.216 15.146 15.146L12.293 12.293C12.1055 12.1055 11.8512 12.0001 11.586 12H2C1.46957 12 0.960859 11.7893 0.585786 11.4142C0.210714 11.0391 0 10.5304 0 10V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0L14 0Z" fill="#1F2937"/>
                        <path d="M5 6C5 6.26522 4.89464 6.51957 4.70711 6.70711C4.51957 6.89464 4.26522 7 4 7C3.73478 7 3.48043 6.89464 3.29289 6.70711C3.10536 6.51957 3 6.26522 3 6C3 5.73478 3.10536 5.48043 3.29289 5.29289C3.48043 5.10536 3.73478 5 4 5C4.26522 5 4.51957 5.10536 4.70711 5.29289C4.89464 5.48043 5 5.73478 5 6ZM9 6C9 6.26522 8.89464 6.51957 8.70711 6.70711C8.51957 6.89464 8.26522 7 8 7C7.73478 7 7.48043 6.89464 7.29289 6.70711C7.10536 6.51957 7 6.26522 7 6C7 5.73478 7.10536 5.48043 7.29289 5.29289C7.48043 5.10536 7.73478 5 8 5C8.26522 5 8.51957 5.10536 8.70711 5.29289C8.89464 5.48043 9 5.73478 9 6ZM13 6C13 6.26522 12.8946 6.51957 12.7071 6.70711C12.5196 6.89464 12.2652 7 12 7C11.7348 7 11.4804 6.89464 11.2929 6.70711C11.1054 6.51957 11 6.26522 11 6C11 5.73478 11.1054 5.48043 11.2929 5.29289C11.4804 5.10536 11.7348 5 12 5C12.2652 5 12.5196 5.10536 12.7071 5.29289C12.8946 5.48043 13 5.73478 13 6Z" fill="#1F2937"/>
                    </g>
                </svg>
              <span class="grow ml-6">
                <span class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200">Tagihan Automatis Setiap Bulan</span>
                <span class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-gray-200">Customer akan mendapat notifikasi tagihan bulanan lewat whatsapp</span>
              </span>
            </span>
          </button>

          <button type="button" class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left hover:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-slate-900 dark:hover:bg-gray-700" id="tabs-with-card-item-2" data-hs-tab="#tabs-with-card-2" aria-controls="tabs-with-card-2" role="tab">
            <span class="flex">
                <svg width="64" height="64" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_3660_21015)">
                        <path d="M5.5 9.511C5.576 10.465 6.33 11.208 7.682 11.296V12H8.282V11.291C9.682 11.193 10.5 10.445 10.5 9.359C10.5 8.372 9.874 7.863 8.755 7.599L8.282 7.487V5.57C8.882 5.638 9.264 5.966 9.356 6.42H10.408C10.332 5.501 9.544 4.782 8.282 4.704V4H7.682V4.719C6.487 4.836 5.672 5.555 5.672 6.572C5.672 7.472 6.278 8.044 7.285 8.279L7.682 8.377V10.411C7.067 10.318 6.66 9.981 6.568 9.511H5.5ZM7.677 7.345C7.087 7.208 6.767 6.929 6.767 6.509C6.767 6.039 7.112 5.687 7.682 5.584V7.344H7.677V7.345ZM8.369 8.538C9.086 8.704 9.417 8.973 9.417 9.448C9.417 9.99 9.005 10.362 8.282 10.43V8.518L8.369 8.538Z" fill="#1F2937"/>
                        <path d="M8 15C6.14348 15 4.36301 14.2625 3.05025 12.9497C1.7375 11.637 1 9.85652 1 8C1 6.14348 1.7375 4.36301 3.05025 3.05025C4.36301 1.7375 6.14348 1 8 1C9.85652 1 11.637 1.7375 12.9497 3.05025C14.2625 4.36301 15 6.14348 15 8C15 9.85652 14.2625 11.637 12.9497 12.9497C11.637 14.2625 9.85652 15 8 15ZM8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16Z" fill="#1F2937"/>
                        <path d="M8 13.5C6.54131 13.5 5.14236 12.9205 4.11091 11.8891C3.07946 10.8576 2.5 9.45869 2.5 8C2.5 6.54131 3.07946 5.14236 4.11091 4.11091C5.14236 3.07946 6.54131 2.5 8 2.5C9.45869 2.5 10.8576 3.07946 11.8891 4.11091C12.9205 5.14236 13.5 6.54131 13.5 8C13.5 9.45869 12.9205 10.8576 11.8891 11.8891C10.8576 12.9205 9.45869 13.5 8 13.5ZM8 14C8.78793 14 9.56815 13.8448 10.2961 13.5433C11.0241 13.2417 11.6855 12.7998 12.2426 12.2426C12.7998 11.6855 13.2417 11.0241 13.5433 10.2961C13.8448 9.56815 14 8.78793 14 8C14 7.21207 13.8448 6.43185 13.5433 5.7039C13.2417 4.97595 12.7998 4.31451 12.2426 3.75736C11.6855 3.20021 11.0241 2.75825 10.2961 2.45672C9.56815 2.15519 8.78793 2 8 2C6.4087 2 4.88258 2.63214 3.75736 3.75736C2.63214 4.88258 2 6.4087 2 8C2 9.5913 2.63214 11.1174 3.75736 12.2426C4.88258 13.3679 6.4087 14 8 14Z" fill="#1F2937"/>
                    </g>
                </svg>
              <span class="grow ml-6">
                <span class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200">Pelanggan Bayar Lewat Payment Gateway</span>
                <span class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-gray-200 mt-1"> Pelanggan langsung bayar online menggunakan metode beragam seperti transfer, Qris, ovo, gopay, dll</span>
              </span>
            </span>
          </button>

          <button type="button" class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left hover:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-slate-900 dark:hover:bg-gray-700" id="tabs-with-card-item-3" data-hs-tab="#tabs-with-card-3" aria-controls="tabs-with-card-3" role="tab">
            <span class="flex">
                <svg width="52" height="52" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_3660_21158)">
                        <path d="M5 6.25001C5 6.44892 4.92098 6.63969 4.78033 6.78034C4.63968 6.92099 4.44891 7.00001 4.25 7.00001C4.05109 7.00001 3.86032 6.92099 3.71967 6.78034C3.57902 6.63969 3.5 6.44892 3.5 6.25001C3.5 6.0511 3.57902 5.86033 3.71967 5.71968C3.86032 5.57903 4.05109 5.50001 4.25 5.50001C4.44891 5.50001 4.63968 5.57903 4.78033 5.71968C4.92098 5.86033 5 6.0511 5 6.25001ZM6.138 4.75401C6.73182 4.5845 7.34646 4.499 7.964 4.50001C8.63 4.50001 9.267 4.59701 9.857 4.77301C9.98308 4.80779 10.1178 4.79178 10.2322 4.72841C10.3466 4.66505 10.4316 4.55937 10.4691 4.43404C10.5065 4.30872 10.4933 4.17372 10.4323 4.058C10.3714 3.94228 10.2675 3.85505 10.143 3.81501C9.4358 3.60483 8.70177 3.49872 7.964 3.50001C7.23 3.50001 6.523 3.60301 5.862 3.79201C5.73443 3.82861 5.62663 3.91439 5.5623 4.03047C5.49798 4.14656 5.4824 4.28344 5.519 4.41101C5.5556 4.53858 5.64138 4.64639 5.75746 4.71071C5.87355 4.77504 6.01043 4.79061 6.138 4.75401Z" fill="#1F2937"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.964 1.5271C4.987 1.5271 2.393 3.2311 1.644 5.6521H1.094C0.948206 5.65226 0.804214 5.6843 0.672108 5.74596C0.540002 5.80763 0.422978 5.89744 0.329233 6.00909C0.235489 6.12075 0.167292 6.25155 0.129421 6.39233C0.0915499 6.53312 0.08492 6.68048 0.109996 6.8241L0.363996 8.2841C0.424526 8.63217 0.605971 8.9477 0.876354 9.17509C1.14674 9.40248 1.48871 9.52714 1.842 9.5271H2.105C2.405 10.0401 2.793 10.5051 3.25 10.9091L2.521 13.3861C2.49907 13.4607 2.49484 13.5393 2.50864 13.6158C2.52244 13.6923 2.55388 13.7646 2.60048 13.8268C2.64707 13.889 2.70753 13.9395 2.77706 13.9743C2.84659 14.0091 2.92326 14.0271 3.001 14.0271H5.001C5.10416 14.0271 5.20481 13.9952 5.28913 13.9358C5.37346 13.8763 5.43733 13.7923 5.472 13.6951L5.954 12.3441C6.589 12.5171 7.264 12.6111 7.965 12.6111C8.672 12.6111 9.353 12.5161 9.993 12.3391L10.536 13.7111C10.5729 13.8043 10.637 13.8843 10.7199 13.9406C10.8028 13.997 10.9007 14.0271 11.001 14.0271H13.001C13.079 14.027 13.1559 14.0087 13.2256 13.9736C13.2953 13.9384 13.3557 13.8875 13.4022 13.8248C13.4486 13.7621 13.4798 13.6894 13.4931 13.6126C13.5065 13.5357 13.5016 13.4568 13.479 13.3821L12.718 10.8761C13.81 9.8951 14.5 8.5591 14.5 7.0691C14.5 6.9241 14.493 6.7791 14.48 6.6381C14.741 6.5281 14.988 6.3721 15.185 6.1941C15.5 6.5001 16 6.5001 16 5.7771C16 6.0001 15.5 6.0001 15.539 5.7511C15.581 5.67083 15.6113 5.58496 15.629 5.4961C15.6525 5.38028 15.6463 5.26039 15.611 5.1476C15.5757 5.03482 15.5124 4.93282 15.427 4.8511C15.3369 4.75828 15.2185 4.69822 15.0904 4.68047C14.9623 4.66271 14.8319 4.68828 14.72 4.7531C14.6171 4.80996 14.5293 4.89067 14.4641 4.98846C14.3988 5.08625 14.358 5.19826 14.345 5.3151C14.321 5.5581 14.427 5.7951 14.665 5.9691C14.5824 6.02619 14.4959 6.07732 14.406 6.1221C13.872 3.4581 11.122 1.5271 7.964 1.5271ZM2.516 6.2601C2.971 4.1941 5.183 2.5271 7.964 2.5271C11.11 2.5271 13.5 4.6411 13.5 7.0691C13.5 8.3231 12.876 9.4791 11.83 10.3171C11.7523 10.3796 11.695 10.464 11.6656 10.5593C11.6362 10.6547 11.636 10.7566 11.665 10.8521L12.325 13.0271H11.34L10.75 11.5401C10.7025 11.4203 10.6105 11.3234 10.4933 11.2698C10.3761 11.2161 10.2427 11.2098 10.121 11.2521C9.46 11.4821 8.731 11.6111 7.964 11.6111C7.22997 11.613 6.50084 11.4916 5.807 11.2521C5.68245 11.2088 5.54585 11.2165 5.42692 11.2734C5.308 11.3303 5.21637 11.4319 5.172 11.5561L4.647 13.0271H3.668L4.301 10.8771C4.32924 10.7813 4.32814 10.6792 4.29784 10.584C4.26754 10.4889 4.20943 10.4049 4.131 10.3431C3.59596 9.92898 3.15777 9.40308 2.847 8.8021C2.80537 8.71949 2.74164 8.65005 2.6629 8.6015C2.58416 8.55295 2.4935 8.5272 2.401 8.5271H1.841C1.7234 8.52697 1.6096 8.48539 1.51962 8.40968C1.42964 8.33396 1.36922 8.22895 1.349 8.1131L1.095 6.6531H2.028C2.14194 6.653 2.25244 6.61399 2.34119 6.54252C2.42994 6.47105 2.49161 6.37141 2.516 6.2601ZM15.137 5.4031C15.1192 5.47912 15.0858 5.55062 15.039 5.6131C15.024 5.6053 15.0094 5.59696 14.995 5.5881C14.849 5.4981 14.838 5.4131 14.843 5.3651C14.8479 5.32922 14.861 5.29495 14.8813 5.26495C14.9016 5.23495 14.9285 5.21003 14.96 5.1921C15.009 5.1651 15.04 5.1711 15.073 5.2041C15.1008 5.22828 15.1215 5.2596 15.1327 5.29468C15.144 5.32975 15.1455 5.36725 15.137 5.4031Z" fill="#1F2937"/>
                    </g>
                </svg>
              <span class="grow ml-6">
                <span class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200">Cairkan Saldo Hasil Pembayaran</span>
                <span class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-gray-200">Cairkan dana hasil pembayaran pelanggan dengan cepat dan mudah.</span>
              </span>
            </span>
          </button>
        </nav>
        <!-- End Tab Navs -->
      </div>
      <!-- End Col -->

      <div class="lg:col-span-6">
        <div class="relative">
          <!-- Tab Content -->
          <div>
            <div id="tabs-with-card-1" role="tabpanel" aria-labelledby="tabs-with-card-item-1">
                <!-- https://images.unsplash.com/photo-1619658535018-5a55d32e4628?ixlib=rb-4.0.3&auto=format&fit=crop&w=987&h=1220&q=80-->
              <img class="shadow-xl shadow-gray-200 rounded-xl dark:shadow-gray-900/[.2]" src="https://images.unsplash.com/photo-1619658535018-5a55d32e4628?ixlib=rb-4.0.3&auto=format&fit=crop&w=987&h=1220&q=80" alt="Image Description">
            </div>
            <!-- https://images.unsplash.com/photo-1587906697341-bfbde76785c7?ixlib=rb-4.0.3&auto=format&fit=crop&w=987&h=1220&q=80 -->
            <div id="tabs-with-card-2" class="hidden" role="tabpanel" aria-labelledby="tabs-with-card-item-2">
              <img class="shadow-xl shadow-gray-200 rounded-xl dark:shadow-gray-900/[.2]" src="https://images.unsplash.com/photo-1587906697341-bfbde76785c7?ixlib=rb-4.0.3&auto=format&fit=crop&w=987&h=1220&q=80" alt="Image Description">
            </div>
            <!-- https://images.unsplash.com/photo-1518458028785-8fbcd101ebb9?ixlib=rb-4.0.3&auto=format&fit=crop&w=987&h=1220&q=80 -->
            <div id="tabs-with-card-3" class="hidden" role="tabpanel" aria-labelledby="tabs-with-card-item-3">
              <img class="shadow-xl shadow-gray-200 rounded-xl dark:shadow-gray-900/[.2]" src="https://images.unsplash.com/photo-1518458028785-8fbcd101ebb9?ixlib=rb-4.0.3&auto=format&fit=crop&w=987&h=1220&q=80" alt="Image Description">
            </div>
          </div>
          <!-- End Tab Content -->

          <!-- SVG Element -->
          <div class="hidden absolute top-0 right-0 translate-x-20 md:block lg:translate-x-20">
            <svg class="w-16 h-auto text-orange-500" width="121" height="135" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
              <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
              <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
            </svg>
          </div>
          <!-- End SVG Element -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->

    <!-- Background Color -->
    <div class="absolute inset-0 grid grid-cols-12 w-full h-full">
      <div class="col-span-full lg:col-span-7 lg:col-start-6 bg-gray-100 w-full h-5/6 rounded-xl sm:h-3/4 lg:h-full dark:bg-white/[.075]"></div>
    </div>
    <!-- End Background Color -->
  </div>
</div>
<!-- End Features -->
